<h1>Welcome to our example using Google Spreadsheets with Oauth</h1>

<p>Hi!</p>

<% if session[:oauth_token] %>
  <h2>Your Google Docs Spreadsheets</h2>
  <ul>
    <% @spreadsheets.each do |spreadsheet| -%>
      <li><%= spreadsheet.title -%></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Get My google Spreadsheets", oauth_get_request_token_path %>
<% end %>